<h1>Flight confirmation</h1>
<section>
<h2>Flight details: </h2>
<p>From: <%= @flight.departure_airport.code %></p>
<p>To: <%= @flight.arrival_airport.code %></p>
<p>Date: <%= @flight.date %></p>
</section>
